*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

/*------------HEADER--------------*/
header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 90px;
  background: #2d2a30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2.5em;
  color: #ff9900;
}
.logo span{
  color: #fff;
}

.navheader a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navheader a::after {
  
  position: absolute;
  content: '';
  border-radius: 5px;
  background: #fff;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform .3s;

}

.navheader a:hover::after {
  transform: scaleX(1);
} 

header .navbar{
  display: none;
}

/*--------------END-HEADER------------*/

/*----------FOOTER---------*/
footer {
  position: static;
}

.footer-container {
  background-color: #2d2a30;
  box-sizing: border-box;
  text-align: center;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-container .footer-left{
  display: inline-block;
  vertical-align: top;
}

.footer-container .footer-center{
  display: inline-block;
  vertical-align: top;
}

.footer-container .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-container .footer-left{
  width: 30%;
}

.footer-container h2{
  color: #ff9900;
  font: normal 36px;
  margin: 0;
}

.footer-container h2 span{
  color: #fff;
}

.footer-container .footer-link{
  color: #fff;
  margin: 20px 0 12px;
}

.footer-container .footer-link a{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #fff;
}

.footer-container .ls {
  color: #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-container .footer-center{
  width: 35%;
  text-align: left;
  padding-left: 100px;
}

.footer-container .footer-center i{
  color: #2d2a30;
  background-color: #c3c3c3;
  border-radius: 15px;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
  margin: 5px;
}

.footer-container .footer-center p{
  display: inline-block;
  color: #ffff; 
  vertical-align: middle;
  margin: 0;
}
.footer-container .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-container .footer-center p a{
  color: yellow;
  text-decoration: none;
}

.footer-container .footer-right {
  width: 30%;
}

.footer-container .thongtin {
  line-height: 20px;
  color: #92999f;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer-container .thongtin span{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.footer-container .media-icons{
  margin-top: 25px;
}

.footer-container .media-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  font-size: #ffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.footer-container .media-icons i{
  color: #fff;
}

.footer-container .media-icons a:hover {
  background-color: gray;
}

.footer-link a:hover {
  color: #ff9900;
}

/*----------END-FOOTER--------*/

/*-------Main-------*/
main {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
.search{
position: relative;
box-shadow: 0 0 40px rgba(51, 51, 51, .1);
border-radius: 20px;

}
.search input{
height: 60px;
text-indent: 25px;
border: 2px solid #d6d4d4;
border-radius: 20px;

}
.search input:focus{
box-shadow: none;
border: 2px solid blue;

}
.search .fa-search{
position: absolute;
top: 20px;
left: 16px;

}
.search button{
position: absolute;
top: 5px;
right: 5px;
height: 50px;
width: 110px;
max-width: 100%;
background: blue;
border-radius: 20px;
}

.main-container .title{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top:20px;
  margin-bottom: 20px;
}

.main-container .cards{
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
}
ul.card-content {
  padding: 0;
  margin: 20px;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }

ul.card-content li{
  width: 90%;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  float: left;
  height: auto;
  text-align: center;
  padding: 0 5px 20px 5px;
  overflow: hidden;
}

ul.card-content li a{
  text-decoration: none;
  color: #2d2a30;
}
ul.card-content li svg{
  width: 100%;
  margin-top: 5px;
  transition-duration: 0.3s;
}

ul.card-content li svg:hover{
  transform: scale(1.2);
}

.main-container .polisy h2{
  text-align: center;
  padding: 20px;
}
.polisied h3{
  color: green;
}

.non-policy h3{
  color: red;
}

.main-container .polisy ol{
  padding-left: 50px;

}

.polisy ol li{
  padding: 5px;
}
/*---------chinh sua dinh dang PHP-------------*/

























































/*-----------Responsive-----------------*/
@media ( max-width: 731px){
  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header {
    top: 0;
    left: 0;
    width: 100%;
    background: #2d2a30;
    display: block;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .logo {
    display: none;
  }
  .navheader {
   display: none;
  }
  header .navbar{
    display: block;
  }
  header .navbar-light .navbar-brand{
    color: #ff9900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;

  }
  header .navbar-light .navbar-brand span{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;

  }

  header .navbar{
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background: #2d2a30;
  }

 /*-----------footer--------------*/
 .footer-container{
  background-color: #2d2a30;
  box-sizing: border-box;
  text-align: center;
  padding: auto;
  margin-top: 80px;
}
 footer {
  display: grid;
  background: #2d2a30;

 }
 .footer-container .footer-left{
  grid-column-start: 1;
  grid-column-end: 4;
 }

.footer-container .footer-center{
  justify-content: start;
}
.footer-container .footer-right{
  justify-content: end;
}
 }


